[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
pydocstyle = "*"
mypy = "*"
black = "*"
pytest = "*"
pylint-django = "*"

[packages]
django = "*"
djangorestframework = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
pytest-django = "*"
djangorestframework-simplejwt = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
